:root {
  --main-color: #151c24;
  --btn-color1: #0e4656;
  --btn-color2: #d90429;
  --secondary-color: #1d3557;
  --font-color: rgba(234, 240, 246, 0.8);
  --main-margin: 25px;
  --secondary-margin: 10px;
  --main-padding: 50px;
  --p-font: 19px;
  --h-font: 50px;
  --span-font: 15px;
  --second-hue: 219;
  --mob-font: 15px;
  --main-transition: 0.5s;
  --main-active: 0.95;
}
* {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  word-wrap: break-word;
  word-break: normal;
  user-select: none;
  list-style: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  letter-spacing: 1px;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden !important;
  z-index: 1;
  color: white;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0d1a3a;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #0d1a3a;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--btn-color2);
}
.swal2-title,
.swal2-html-container {
  font-size: 18px !important;
}
.menu1 {
  display: none !important;
}
.menu {
  width: 300px;
  height: 200px;
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-color);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
  border-radius: 10px;
  z-index: 10000;
  position: fixed;
}
.menu span:not(:first-child) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 20px;
  border-bottom: #d90429 1px solid;
  color: aliceblue;
  margin: 10px;
  cursor: pointer;
}
#close {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: var(--btn-color2);
  cursor: pointer;
}
.arrwo {
  position: fixed;
  z-index: 50;
  font-size: 50px;
  bottom: 20px;
  right: 40px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  bottom: -65px;
  z-index: 10000000;
}

.reset-arrwo {
  bottom: 80px;
}

.arrwo:hover {
  transform: translateY(-20px);
}

.arrwo:active {
  transform: scale(0.95);
}

/* arwwo end */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.landing {
  background-image: linear-gradient(
    to bottom,
    #5e8e8e,
    #486f76,
    #36515b,
    #253540,
    #151c24
  ) !important;
}
.right {
  display: flex;
}
.left {
  display: flex;
}
.right img,
.mob-nav img {
  width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
}

.right span,
.left span {
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: var(--p-font);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.right a {
  color: #fff;
}
.left {
  margin-top: auto;
  margin-bottom: auto;
}
.search-box {
  width: 300px;
  height: fit-content;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 100;
  display: flex;
  align-items: center;
}
.icon {
  padding: 5px;
  font-size: var(--span-font);
}
.input-search1 {
  display: none;
}
.input-search {
  display: flex !important;
  border-style: none;
  padding: 10px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  padding-right: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  width: 300px;

  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  font-size: var(--span-font);
  font-weight: 100;
}
.input-search::placeholder {
  color: white;
  letter-spacing: 2px;
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  font-size: var(--span-font);
  font-weight: 100;
}
.mob-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 0 8px;
}
.hide1 {
  display: none;
}
.hide {
  position: absolute;
  top: 7%;
  right: 1%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 90%;
  z-index: 100;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.hide span {
  border-radius: 10px;
  width: 80%;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  font-size: var(--span-font);
  position: relative;
  text-decoration: none;
  border: none;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.active-mob-menu::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 255, 0) 0%,
    rgba(255, 64, 64, 0) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 1.5em;
  height: 1.5em;
}
.active-mob-menu:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
.hide span a {
  width: 100%;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  font-size: var(--span-font);
  color: #fff;
}
.slider {
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #5e8e8e,
    #486f76,
    #36515b,
    #253540,
    #151c24
  ) !important;
  overflow: hidden;
  width: 100%;
  cursor: grab;
}

.swiper-pagination {
  top: 20px;
  width: calc(15 * 5);
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: var(--btn-color2);
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.frist-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
}
.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider-image img {
  width: auto;
  height: 500px;
}

.slider-content {
  width: 100%;
  margin-right: 50px;
  justify-content: center;
  height: 100%;
}
.contenth1 {
  margin-bottom: var(--main-margin);
  font-size: var(--h-font);
  font-weight: bold;
}
.content-span {
  margin-bottom: var(--secondary-margin);
}
.content-span span {
  margin-left: 20px;
  font-size: var(--span-font);
  font-weight: bold;
  color: var(--font-color);
}

.circle {
  margin-bottom: var(--main-margin);
}

.contentp {
  font-size: var(--p-font);
  height: 150px;
  overflow: hidden;
  width: 500px;
}
.watch,
.add {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
}
.watch {
  background-color: var(--btn-color1);
}
.add {
  background-color: var(--btn-color2);
}
.grid-father {
  width: 100%;
}
.grid-content {
  display: flex;
  justify-content: space-between;
  margin: var(--main-padding);
  margin-bottom: 10px;
}
.grid-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  background-color: var(--secondary-color);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
}
.keen-slider {
  margin: 0 40px 0px 10px !important;
  overflow: hidden !important;
}
.episode-img {
  height: 250px;
  width: 170px;
}
.episode-img img {
  height: 250px;
  width: 170px;
  background-size: cover;
  border-radius: 10px;
}
.episode {
  width: 170px;
  height: auto;
  display: flex;
  margin-top: 10px;
  position: relative;
  flex-direction: column;
}

.right-control,
.left-control {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.right-control,
.bottom-r-control {
  right: 0%;
}
.left-control,
.bottom-l-control {
  left: 0%;
}
.right-control span,
.left-control span,
.bottom-r-control span,
.bottom-l-control span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-control span {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--main-color);
  text-align: center;
  margin: 3px;
  cursor: pointer;
}
.left-control span {
  width: 65px;
  height: 30px;
  border-radius: 8px;
  margin: 3px;
  font-size: var(--span-font);
}
.bottom-r-control,
.bottom-l-control {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15%;
}

.season-con,
.episode-con {
  width: 65px;
  height: 25px;
  border-radius: 6px;
  margin: 3px;
  font-size: var(--span-font);
  padding: 1px;
}
.res,
.season-con,
.episode-con {
  background-color: var(--btn-color2);
}
.year {
  background-color: var(--btn-color1);
}
.episode-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-size: var(--p-font);
}
.copy-right {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.mix {
  color: var(--btn-color2);
}
.video {
  color: var(--secondary-color);
}
.add-to-love-side {
  color: var(--btn-color2) !important;
}
.add-to-love-side svg {
  color: var(--btn-color2) !important;
}
.loved-video {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 65px;
}
.episodeclone {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 10%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  margin: 7px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

}
.episodecloneimg {
  height: 100px;
  margin: 5px;
}
.episodecloneimg img {
  height: 100%;
  border-radius: 5px;
}
.episodeclonetext h3 {
  margin: 5px;
}
.btn_watch_del {
  display: flex;
  flex-direction: row-reverse;
}
.btn_watch_del button {
  width: 70px;
  height: 35px;
  border-radius: 4px;
  color: #fff;
  background-color: #d90429;
  border: none;
  margin: 5px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  transition: var(--main-transition);
  transform: translateX(102%);
}

.exit {
  color: white;
  position: relative;
  right: 15px;
  top: 65px;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 10000;
  position: sticky;
}

.exit:hover {
  transform: rotate(90deg);
}

.exit:active {
  /* transform: scale(var(--main-active)); */
  color: var(--btn-color2);
}

.folder {
  position: fixed;
  top: 60px;
  right: 0px;
  color: var(--btn-color2);
  cursor: pointer;
  z-index: 70;
  transition: 0.5s;
  width: fit-content;
}

.folderX {
  transform: translateX(0);
}

.folder:active {
  transform: scale(var(--main-active));
}

.tranlatex {
  transform: translateX(0);
}

/*================media query================*/
@media only screen and (max-width: 990px) and (min-width: 0px) {
  .frist-slider {
    grid-template-columns: repeat(1, 2fr);
    gap: 0;
    margin-top: 0px;
  }

  .slider-image {
    grid-row: 1/2;
  }
  .slider-image img {
    height: 300px;
  }
  .slider-content {
    margin: 0;
    height: 320px;
    grid-row: 2/2;
  }

  .contenth1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .content-span {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px;
  }
  .contentp {
    font-size: var(--span-font);
    word-wrap: break-word;
    word-break: keep-all;
    height: 120px;
    overflow-y: hidden;
    margin: 0;
    width: 100%;
  }
  .watch,
  .add {
    width: 45%;
    margin: 5px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 0px;
    padding: 0px;
  }
  .grid-content {
    margin: 5px;
  }

  .grid-text,
  .more {
    font-size: var(--mob-font);
  }
  .keen-slider {
    margin: 0 10px 40px 10px !important;
    overflow: hidden !important;
  }
  .mob-nav {
    display: flex;
  }
  .container {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 990px) {
  .mob-nav {
    display: none !important;
  }
  .container {
    display: flex !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media screen and (max-width: 768px) {
}
